:root{
  --app--background-color:#ffffffff;
  --app--font-color:#4a5057;

  --font-color--error: #E00000;
  --font-color--success: #00A300;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

html, body {
  height:100%;

  padding:0;
  margin:0;

  background-color: var(--app--background-color);
  color: var(--app--font-color);
}

/** GLOBAL STUFF **/

.global__content--text-unterline {
  text-decoration: underline;
}

.global__hide {
  display:none;
}


/** APP BASE **/

.app {
  position: relative;
  overflow: hidden;
  width:100vw;
  height: 100vh;
}

/** INFO BUTTON **/

.app__information {
  position: absolute;
  bottom: 1em;
  right: 1em;

  height: 1em;
  width: 8em;

  padding:.5em 1em;
  border: 1px solid var(--app--font-color);
  border-radius: 2em;
  box-shadow: 1px 1px 10px 0 rgba(0,0,0,.3);

  color: #797c80d9;
  z-index: 1000;
  transition: all .5s ease-in-out;
}

.app__information--small {
  width: 3em;
  height: 3em;
  overflow: hidden;
  padding: 0;
}

.app__information--small::after{
  display: block;
  content: '?';
  background: transparent;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: transparent;
  font-size: 2.25em;
  font-weight: bold;
  text-align: center;
  line-height: 1.4;
  animation: minimize-help-button .5s ease-in-out .1s ;
  animation-fill-mode: forwards;
}

@keyframes minimize-help-button {
  0%{
    color: transparent;
    background: transparent;
  }
  100%{
    color: #797c80d9;
    background: var(--app--background-color);
  }
}

/** SCREENS **/

.app__screen {

  --screen-padding: 2em;

  position: absolute;
  top:0;
  left:100vw;

  width: calc( 100vw - calc(var(--screen-padding) * 2));
  height: 100vh;

  padding: var(--screen-padding);

  background-color: var(--app--background-color);

  transition: left .2s;
}

.app__screen--show-start .app__screen--start-screen{
  left: 0;
  z-index:200;
}

.app__screen--show-user .app__screen--user-screen{
  left: 0;
  z-index:200;
}

.app__screen--show-business {
  overflow-y: auto;
}

.app__screen--show-business .app__screen--business-screen{
  left: 0;
  z-index:200;

  overflow-y: auto;
}

.app__screen--show-qr .app__screen--qr-screen{
  left: 0;
  z-index:200;
}

/** SCREEN START **/

.app__screen--start-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.app__screen__button{
   height: 40vw;
   width: 40vw;

   font-size: 1.2em;
   font-weight: bold;

   box-shadow: 0 0 10px 0 rgba(0,0,0,.1);
}

.app__screen__button--user {
  margin-top: -4.2em;
}

.app__screen__button--business {
  margin-top: 1.2em;
}


/** SCREEN USER **/

.app__screen--user-screen { 

}

.app__screen--user-screen__label{
  font-size: 1.2em;
}

.app__screen--user-screen__input{
  --local-padding: 2px;
  font-size: 1em;
  padding: var(--local-padding);
  width: calc(100% - calc(var(--local-padding) * 2) - 2px);
  margin: .1em 0 .25em;
}

.app__screen--user-screen__label--date-label{
  display: inline-block;
  margin: .5em 0;
  font-size: .9em;
}

.app__screen--user-screen__buttons {
  display: flex;
  justify-content:space-between;

  margin-top: .5em;
 
}

.app__screen--user-screen__button {
  padding: 1em;
  font-weight: bold;
  font-size: 1em;
}

.app__screen--user-screen__info-box{
  border: 1px solid var(--app--font-color);
  padding: 0 1em 1em 1em;
  margin: 2em -.5em;
  box-shadow: 3px 3px 10px 0 rgba(0,0,0,0.2);  
  font-size: .9em;
}

.app__screen--user-screen__info-box__titel {
  margin:.75em 0 .5em;
}

.app__screen--user-screen__info-box__content {
  margin:.25em 0;
  line-height: 1.3;
}

/** SCREEN QR **/

.app__screen--qr-screen {
  display: flex;
  flex-direction: column;
}

.app__screen--qr-screen__titel{
  text-align: center;
}

.app__screen--qr-screen__figure{
  margin: 0;
}

.app__screen--qr-screen__figure__img{
  flex:1;
  width: 100%;
  object-fit: contain;
  image-rendering: pixelated;
}

.app__screen--qr-screen__figure__figcaption{
  flex:1;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
}

.app__screen--qr-screen__figure__figcaption__name{
  text-transform: capitalize;
}

.app__screen--qr-screen__figure__figcaption__datetime{
  font-size: .6em;
  font-style: italic;
  color: rgba(0,0,0,.4);
}

.app__screen--qr-screen__button {
  margin: 1em 0 1em;
  padding: .5em;
  font-size: 1.5em;
}

.app__screen--qr-screen__link{
  font-size: 1.25em;
  text-align: center;
}

/** SCREEN BUSINESS **/

.app__screen--business-screen {
  display: flex;
  flex-direction: column;
}

.app__screen--business-screen__video{
  padding: 0;
  margin: 0;
  width: 100%;
  background: rgba(0,0,0,.04);
}

.app__screen--business-screen__flash-box{
  position: relative;
}

.app__screen--business-screen__flash-box--flash:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: var(--app--background-color);
  z-index: -1;
  animation: .2s ease-in-out 0s 1 backwards flash;
}

@keyframes flash {
  0% {
    z-index: -1;
  }
  50% {
    z-index: -1;
  }
  100% {
    z-index: 100;
  }
}




.app__screen--business-screen__buttons{
  display: flex;
  margin: 2em 0 1.5em;
}

.app__screen--business-screen__button{
  flex-grow: 1;
  padding: 1em;
  font-weight: bold;
  font-size: 1em;
}

.app__screen--business-screen__button--scan{
  flex-grow: 3;
  margin-left:1em;
}



.app__screen--business-screen__button--scan:disabled{
  animation: 1s ease-in-out 0s infinite alternate pulsating-color;
}


@keyframes pulsating-color {
  0% {
    color: #cdcdcdcd;
  }
  100% {
    color: rgba(0, 0, 0, 0.5);
  }
}

.app__screen--business-screen__scan-resul{
  margin-bottom: 1em;
}

.app__screen--business-screen__scan-result__titel {
  margin: 1em 0 .5em;
}

.app__screen--business-screen__scan-result__titel--success {
  color: var(--font-color--success);
}

.app__screen--business-screen__scan-result__titel--error {
  color: var(--font-color--error);
}

.app__screen--business-screen__scan-result__name {
  text-transform: capitalize;
  font-weight: bold;
  font-size: 1.2em;
}

.app__screen--business-screen__scan-result__phone-number {
  font-size: 1em;
  font-weight: bold;
  line-height: 1.5;
}

.app__screen--business-screen__scan-result__datetime {
  font-style: italic;
  line-height: 2.5;
  text-align: right;
  display: block;
}



